parameters:
    level: 8
    phpVersion: 80400
    paths:
        - src
        - tests
    scanDirectories:
        - migrations
    excludePaths:
        - tests/object-manager.php
    tmpDir: var/phpstan
    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
