parameters:
    level: 6
    paths:
        - src
        - tests
    scanFiles:
        - migrations/Version20260914092233.php
        - migrations/Version20260914154900.php
    tmpDir: var/phpstan
    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
